.header {
    background-color: white;
    color: #fff;
    box-shadow: 0px 3px 0px -2px black;
    padding: 15px 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0 30px;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li a {
    color: black;
    text-decoration: none;
    padding: 0 20px;
    transition: background-color 0.2s ease-in-out;
}
nav ul li a:hover {
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}
form {
    display: inline-block;
}
input[type="submit"] {
    width: 120px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: background-color 0.2s ease-in-out;
}
input[type="submit"]:hover {
    background-color: #006400;
}

.options {
    margin-top: 80px;
    text-align: center;
}

.options button {
    cursor: pointer;
}

.card {
    display: flex;
    align-items: center;
    width: calc(33.33% - 20px);
    margin: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px gray;
}

.card p {
    text-align: left;
    margin: 0; /* pour enlever le margin par défaut du paragraphe */
}

.card form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card button {
    cursor: pointer;
    background-color: red;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    margin-left: 10px;
}

.card-article {
    display: flex;
    align-items: center;
    width: calc(33.33% - 20px);
    margin: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px gray;
    
}

.card-article img {
    text-align: left;
    width: 70px;
    height: 70px;
    margin-right: 10px; /* pour ajouter un peu d'espace entre l'image et le texte */
}

.card-article p {
    text-align: left;
    margin: 0; /* pour enlever le margin par défaut du paragraphe */
}

.card-article form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
